*{
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Header--------------------------------------------------------------------*/ 

header {
    display: block; 
    width: 100%;
}

/* Section-1----------------------------*/

.section-1 {
    width: 100%; 
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 2.8rem;
    gap:1rem;
    font-size: 19px; 
}

.section-1 a {
    text-decoration: none;
}

.phone-number {
  
    margin-right: 10px;
    color: white;
}

.phone-number {
    margin-right: 10px;
    background-color: #F56207; 
    transition: background-color 0.3s ease; 
    border-radius: 30px;
    border: 2px solid #F56207; 
    padding: 2px 14px;
    font-size: 18px;
}

.phone-number:hover {
    background-color: transparent;
    color:#F56207;
}

.text {
    margin-left: -3px;
    color: rgb(0, 0, 0);

}

.chat-icon{
    width: 1.5rem;
    height: 1.2em; 
    vertical-align: middle; 
    margin-left: 0.3rem;
    margin-top: -0.1rem;
}

/* Section-2--------------------------*/


.section-2 {
    width: 100%; /* Ajusta el ancho si es necesario */
    background-color: red;
    height: 5rem;
    background-color: black;
}


































.section-3 {
    width: 100%; /* Ajusta el ancho si es necesario */
    background-color: rgb(43, 41, 41); /* Agrega un color de fondo a la sección 3 */
    height: 3rem;

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start; 
            align-items: center; 
        }
    
        nav li {
            margin-right: 20px; 
        }
    
        nav a {
            text-decoration: none;
            color: #333; 
        }
    }


































main {
    background-color: green;
    height: 200rem;
}

footer {
    background-color: orange;
    height: 25rem;
}