<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>


<main class="productos-container">
    <h2>Mis Productos</h2>
    <div class="productos-lista">
      <div class="producto">
        <img src="/images/chainsaw.png" alt="Imagen del producto">
        <div class="producto-info">
          <p class="nombre">Nombre del producto</p>
          <p class="precio">$1500</p>
        </div>
        <p class="marca">Marca</p>
        <input type="checkbox">
      </div>
    </div>
    <div class="acciones">
      <button class="btn">Eliminar</button>
      <button class="btn">Editar</button>
      <button class="btn crear">+ Crear</button>
    </div>
  </main>
  

  <%- include('../partials/footer') %>


</body>
</html>

















<main class="productos-container">
    <h2>Mis Productos</h2>
    <div class="productos-lista">
      <div class="producto">
        <img src="/images/chainsaw.png" alt="Imagen del producto">
        <div class="producto-info">
          <p class="nombre">Nombre del producto</p>
          <p class="precio">$1500</p>
        </div>
        <p class="marca">Marca</p>
        <input type="checkbox">
      </div>
    </div>
    <div class="acciones">
      <button class="btn">Eliminar</button>
      <button class="btn">Editar</button>
      <button class="btn crear">+ Crear</button>
    </div>
  </main>
  