<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/header.css">
    <link rel="stylesheet" href="/src/public/css/index.css">
    <link rel="stylesheet" href="/src/public/css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="section-1">
            <span class="text">Venta telefónica</span>
        <a href="https://wa.me/1128656432" target="_blank">
            <span class="phone-number">0800-220-0010</span>
            <span class="text"><strong>o chateá por</strong></span>
            <img src="/src/public/img/WhatsApp.png" alt="Chatea por WhatsApp" class="chat-icon"> 
        </a>
        </div>
        <div class="section-2">
            <nav>
            <ul>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i>Contactenos</a></li>
                <li><a href="#"><i class="fas fa-truck"></i>Seguir tu compra</a></li>
                <li><a href="#"><i class="fas fa-headphones"></i>VENTA TELEFONICA <strong>0800-220-0010</strong></a></li>
                <li><a href="#"><i class="fas fa-store"></i>Sucursales</a></li>
            </ul>
            </nav>
        </div>
        <div class="section-3">
            <a href="#" class="logo"> 
                <img src="/src/public/img/logoEmpresa.png" alt="Logo"> 
            </a>
                <div class="search-bar">
                <input type="text" placeholder="¿Qué estás buscando?">
                </div>
                <div class="user-actions">
            <a href="#" class="account">
                <i class="fas fa-user"></i> Mi cuenta
            </a>
                <a href="#" class="cart">
                <i class="fas fa-shopping-cart"></i> Mi carrito
            </a>
            <a href="#" class="wishlist">
                <i class="fas fa-heart"></i>
            </a>
            </div>
        </div>
        <div class="section-4">
        </div>
    </header>
    <main>
        <div class="top-banner">
            <img src="top-banner.jpg" alt="Top Banner">
        </div>
    
        <div class="promotions">
            <div class="promo-item">
                <img src="#" alt="Envíos a todo el país">
            </div>
            <div class="promo-item">
                <img src="promo-2.png" alt="Hasta 6 cuotas">
            </div>
            <div class="promo-item">
                <img src="promo-3.png" alt="Clientes corporativos">
            </div>
            <div class="promo-item">
                <img src="promo-4.png" alt="Retiro gratis">
            </div>
        </div>
    
        <div class="main-banner">
            <img src="main-banner.jpg" alt="Milwaukee Banner">
        </div>
    
        <section class="offers">
            <h2 class="offers-title">Ofertas</h2>
            <div class="product-grid">
                <div class="product-card">
                    <img src="/src/public/img/img3.jpg" alt="Producto 1">
                    <p class="product-price">$50,000.000</p>
                    <p class="product-promo">Lista <span class="highlight-price">$55,000.000</span></p>
                    <p class="product-info">Llega gratis mañana</p>
                </div>
                <div class="product-card">
                    <img src="/src/public/img/img3.jpg" alt="Producto 2">
                    <p class="product-price">$50,000.000</p>
                    <p class="product-promo">Lista <span class="highlight-price">$55,000.000</span></p>
                    <p class="product-info">Llega gratis mañana</p>
                </div>
                <div class="product-card">
                    <img src="/src/public/img/img3.jpg" alt="Producto 3">
                    <p class="product-price">$50,000.000</p>
                    <p class="product-promo">Lista <span class="highlight-price">$55,000.000</span></p>
                    <p class="product-info">Llega gratis mañana</p>
                </div>
                <div class="/src/public/img/img3.jpg" alt="Producto 4">
                    <img src="product-4.jpg" alt="Producto 4">
                    <p class="product-price">$50,000.000</p>
                    <p class="product-promo">Lista <span class="highlight-price">$55,000.000</span></p>
                    <p class="product-info">Llega gratis mañana</p>
                </div>
            </div>
        </section>
    
        <section class="categories">
            <div class="category-card">
                <img src="/src/public/img/cat1.png" alt="Categoría 1">
            </div>
            <div class="category-card">
                <img src="/src/public/img/cat2.png" alt="Categoría 2">
            </div>
            <div class="category-card">
                <img src="/src/public/img/cat3.png" alt="Categoría 3">
            </div>
            <div class="category-card">
                <img src="/src/public/img/cat4.png" alt="Categoría 4">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-container">
        <div class="footer-section">
            <img src="/src/public/img/logoEmpresa.png" alt="Espacio Industria" class="footer-logo">
        </div>
        <div class="footer-section">
            <h3>Espacio Industria</h3>
            <ul>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Ofertas laborales</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Tipos de Tecnología</a></li>
            <li><a href="#">Mejora tu descanso</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Garantías</a></li>
            <li><a href="#">Hot Sale</a></li>
            <li><a href="#">Cybermonday</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contacto</h3>
            <ul>
            <li>Ventas: 0800-220-0010</li>
            <li>Entregas: 011-6034-2002</li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Sucursales</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Políticas y legales</h3>
            <ul>
            <li><a href="#">Política de envío</a></li>
            <li><a href="#">Política de retiro en tienda</a></li>
            <li><a href="#">Promociones Bancarias</a></li>
            <li><a href="#">Legal - Bases y condiciones</a></li>
            <li><a href="#">Botón de Arrepentimiento</a></li>
            <li><a href="#">Ventanilla de Reclamos de Defensa del Consumidor</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>¡Suscríbete!</h3>
            <form>
            <input type="email" placeholder="Ingresa tu email">
            <button type="submit">ENVIAR</button>
            </form>
            <img src="/src/public/img/img-sea.png" alt="reCAPTCHA" class="logo-captcha">
            <p>Seguinos!</p>
            <div class="social-icons">
            <a href="#"><img src="/src/public/img/logo-facebook.webp" alt="Facebook"></a>
            <a href="#"><img src="/src/public/img/logo-instagram.webp" alt="Instagram"></a>
            <a href="#"><img src="/src/public/img/logo-youtuve.webp" alt="YouTube"></a>
            <a href="#"><img src="/src/public/img/logo-tiktok.webp" alt="TikTok"></a>
            <p>Metodos de pago</p>
            <img src="/src/public/img/logo-visa.webp" alt="Visa">
            <img src="/src/public/img/logo-mastercard.webp" alt="MasterCard">
            <img src="/src/public/img/logo-mp.webp" alt="Mercado Pago">
            <img src="/src/public/img/logo-express.webp" alt="Express">
            </div>
        </div>
        </div>
        <div class="footer-bottom">
        <img src="/src/public/img/logo_sap_1x.png" alt="SAP Business One" class="sap-logo">
        <p class="mined">Copyright © 2025 Sommiercenter. Políticas de privacidad | Aviso legal</p>
        </div>
    </footer>
</body>
</html>