<footer class="footer">
    <div class="footer-container">
    <div class="footer-section">
        <img src="/img/logoEmpresa.png" alt="Espacio Industria" class="footer-logo">
    </div>
    <div class="footer-section">
        <h3>Espacio Industria</h3>
        <ul>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">Ofertas laborales</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Tipos de Tecnología</a></li>
        <li><a href="#">Mejora tu descanso</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Garantías</a></li>
        <li><a href="#">Hot Sale</a></li>
        <li><a href="#">Cybermonday</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Contacto</h3>
        <ul>
        <li>Ventas: 0800-220-0010</li>
        <li>Entregas: 011-6034-2002</li>
        <li><a href="#">Contáctenos</a></li>
        <li><a href="#">Chat</a></li>
        <li><a href="#">Sucursales</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Políticas y legales</h3>
        <ul>
        <li><a href="#">Política de envío</a></li>
        <li><a href="#">Política de retiro en tienda</a></li>
        <li><a href="#">Promociones Bancarias</a></li>
        <li><a href="#">Legal - Bases y condiciones</a></li>
        <li><a href="#">Botón de Arrepentimiento</a></li>
        <li><a href="#">Ventanilla de Reclamos de Defensa del Consumidor</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>¡Suscríbete!</h3>
        <form>
        <input type="email" placeholder="Ingresa tu email">
        <button type="submit">ENVIAR</button>
        </form>
        <img src="/img/img-sea.png" alt="reCAPTCHA" class="logo-captcha">
        <p>Seguinos!</p>
        <div class="social-icons">
        <a href="#"><img src="/img/logo-facebook.webp" alt="Facebook"></a>
        <a href="#"><img src="/img/logo-instagram.webp" alt="Instagram"></a>
        <a href="#"><img src="/img/logo-youtuve.webp" alt="YouTube"></a>
        <a href="#"><img src="/img/logo-tiktok.webp" alt="TikTok"></a>
        <p>Metodos de pago</p>
        <img src="/img/logo-visa.webp" alt="Visa">
        <img src="/img/logo-mastercard.webp" alt="MasterCard">
        <img src="/img/logo-mp.webp" alt="Mercado Pago">
        <img src="/img/logo-express.webp" alt="Express">
        </div>
    </div>
    </div>
    <div class="footer-bottom">
    <img src="/img/logo_sap_1x.png" alt="SAP Business One" class="sap-logo">
    <p class="mined">Copyright © 2025 Sommiercenter. Políticas de privacidad | Aviso legal</p>
    </div>
</footer>
